@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  /* 🔥 ต้องเชื่อมฟอนต์ตรงนี้ให้ตรงกับ layout.tsx */
  --font-sans: var(--font-main); 
}

/* ธีมพาสเทล */
:root {
  --background: #fdfbf7; /* สีครีม */
  --foreground: #334155; /* สีเทาเข้ม */
  --primary: #9333ea;    /* สีม่วง */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0720;
    --foreground: #f3e8ff;
    --primary: #d8b4fe;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}